<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
      <br>
      <br>
      <h3>Xin Chào,<strong><%=infoUser.username%></strong> </h3> 
  </div>
  <div class="row">
      <div class="col-md-4">
          <h4>Bạn Bè</h4>
  
          <%if(infoUser.friends && infoUser.friends.length>0){%>
            <ul class="list-group">
              <%infoUser.friends.forEach(user => {%>
                <li class="list-group-item">
                      <%= user.username%>
                      <a href="/user/unfriend/<%=user._id%>">
                        <button class="btn btn-danger">Hủy kết bạn</button>
                    </a>
                </li>
              <%})%>
            </ul>
          <%}%>
    </div>

    <div class="col-md-4">
        <h4>Bạn có thể quen</h4>

        <%var listGuestsRequest = infoUser.guestsRequest.join('_');%>
        <%if(listUsers && listUsers.length>0){%>
          <ul class="list-group">
            <%listUsers.forEach(user => {%>
              <li class="list-group-item">
                    <%= user.username%>
                    <%if(listGuestsRequest.includes(user._id)){%>
                        <a href="/user/remove-request-friend/<%=user._id%>">
                            <button class="btn btn-warning">Hoàn Tác</button>
                        </a>
                    <%}else{%>
                        <a href="/user/add-friend/<%=user._id%>">
                            <button class="btn btn-info">Kết Bạn</button>
                        </a>
                    <%}%>
                    
              </li>
            <%})%>
          </ul>
        <%}%>
      </div>


      <div class="col-md-4">
            <h4>Danh Sách Yêu Cầu</h4>
    
            <%if(infoUser.usersRequest && infoUser.usersRequest.length>0){%>
              <ul class="list-group">
                <%infoUser.usersRequest.forEach(user => {%>
                  <li class="list-group-item">
                        <%= user.username%>

                        <a href="/user/accept-request-add-friend/<%=user._id%>">
                            <button class="btn btn-info">Chấp Nhận</button>
                        </a>
                        <a href="/user/reject-request-add-friend/<%=user._id%>">
                            <button class="btn btn-danger">Huỷ</button>
                        </a>
                  </li>
                <%})%>
              </ul>
            <%}%>
          </div>
          <div class="bootstrap-iso">
            <div class="container-fluid">
             <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
               <form method="post" action="/user/add-blog">
                <div class="form-group ">
                 <label class="control-label " for="name">
                  Tạo bài viết
                 </label>
                 <input class="form-control" id="content" name="content" type="text"/>
                </div>
                <div class="form-group">
                 <div>
                  <button class="btn btn-primary " name="submit" type="submit">
                   Đăng
                  </button>
                 </div>
                </div>
               </form>
              </div>
             </div>
            </div>
           </div>
          <div class="col-md-4">
            <h1>Bản tin</h1>
            <%if(listBlog.length>0){%>
                <ul>
                  <%listBlog.forEach(blog => {%>
                      <li>
                        <%=blog.content%>
                        ||
                        <%=blog.author.username%>
                        ||
                        <%if(infoUser._id.toString() == blog.author._id.toString()){%>
                          <a href="/user/remove-blog/<%=blog._id%>">
                            <button class="btn btn-danger">Xóa</button>
                          </a>
                        <%}%>
                      </li>
                    <%})%>
                </ul>
            <%}%>
          </div>
  </div>
</div>

</body>
</html>